<h1><%= @meal_plan.name %> Shopping List</h1>

<h3>Breakfast: <%= @breakfast.name %></h3>
<ul>
  <% @breakfast.ingredients.split(", ").each do |ingredient| %>
  <li><%= ingredient %></li>
  <% end %>
</ul>

<h3>Lunch: <%= @lunch.name %></h3>
<ul>
  <% @lunch.ingredients.split(", ").each do |ingredient| %>
  <li><%= ingredient %></li>
  <% end %>
</ul>

<h3>Dinner: <%= @dinner.name %></h3>
<ul>
  <% @dinner.ingredients.split(", ").each do |ingredient| %>
  <li><%= ingredient %></li>
  <% end %>
</ul>
