<h1><%=@meal_plan.name%></h1>
<form action="/meal-plans/<%=@meal_plan.id%>/shopping-list" method="get">
  <button type="submit">Shopping List</button>
</form>

<h3>Breakfast</h3>
<ul>
  <li>
    <% if @breakfast.instance_of? String %>
      <%= @breakfast %>
    <% else %>
      <a href="/recipes/<%= @breakfast.id %>">
        <%= @breakfast.name%>
      </a>
    <% end %>
  </li>
</ul>


<h3>Lunch</h3>
<ul>
  <li>
    <% if @lunch.instance_of? String %>
      <%= @lunch %>
    <% else %>
      <a href="/recipes/<%= @lunch.id %>">
        <%= @lunch.name%>
      </a>
    <% end %>
  </li>
</ul>

<h3>Dinner</h3>
<ul>
  <li>
    <% if @dinner.instance_of? String %>
      <%= @dinner %>
    <% else %>
      <a href="/recipes/<%= @dinner.id %>">
        <%= @dinner.name%>
      </a>
    <% end %>
  </li>
</ul>
<form action="/meal-plans/<%=@meal_plan.id%>/edit" method="get">
  <button type="submit">Edit</button>
</form>
<form action="/meal-plans/<%=@meal_plan.id%>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <button type="submit">Delete</button>
</form>
