<h1><%=@recipe.name%></h1>

<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.split(", ").each do |ingredient| %>
  <li><%= ingredient %></li>
  <% end %>
</ul>

<h3>Cooking Instructions</h3>
<p><%=@recipe.instruction%></p>

<% if @user == @recipe.user %>
  <form action="/recipes/<%=@recipe.id%>/edit" method="get">
    <button type="submit" id="edit">Edit</button>
  </form>
  <br>
  <form action="/recipes/<%=@recipe.id%>/delete" method="post">
    <input type="hidden" id="hidden"  name="_method" value="delete"/>
    <button type="submit">Delete</button>
  </form>
<% else %>
<form action="/recipes" method="post">
  <input type="hidden" id="name" name="name" value="<%=@recipe.name%>" />
  <input type="hidden" id="ingredients" name="ingredients" value="<%=@recipe.ingredients%>" />
  <input type="hitten" id="instruction" name="instruction" value="<%=@recipe.instruction%>" />
  <button type="submit">Add to my Recipes</button>
</form>
<% end %>
