<h1><%=@recipe.name%></h1>

<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.split(", ").each do |ingredient| %>
  <li><%= ingredient %></li>
  <% end %>
</ul>

<h3>Cooking Instructions</h3>
<p><%=@recipe.instruction%></p>

<% if @user == @recipe.user %>
  <form action="/recipes/<%=@recipe.id%>/edit" method="get">
    <button type="submit" id="edit">Edit</button>
  </form>
  <br>
  <form action="/recipes/<%=@recipe.id%>/delete" method="post">
    <input type="hidden" id="hidden"  name="_method" value="delete"/>
    <button type="submit">Delete</button>
  </form>
<% end %>
