<h1><%=@recipe.name%></h1>

<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.split(", ").each do |ingredient| %>
  <li><%= ingredient %></li>
  <% end %>
</ul>

<h3>Cooking Instructions</h3>
<p><%=@recipe.instruction%></p>

<% if @user == @recipe.user %>
  <a href="/recipes/<%=@recipe.id%>/edit"><button>Edit</button></a>
  <br><br>
  <a href="/recipes/<%=@recipe.id%>/delete"><button>Delete</button></a>
<% end %>
