<h1>Welcome, <%=@user.username%> </h1>

<h3>Your Recipes</h3>
<% if @user.recipes.count < 1 %>
  <p>Uh oh, looks like you don't have any recipes yet. Let's fix that.</p>
<% end %>
<ul>
  <% @user.recipes.each do |recipe| %>
    <li>
      <a href="/recipes/<%=recipe.id%>"><%= recipe.name %></a>
    </li>
    <br>
  <% end %>
</ul>
<a href="/recipes/new"><button type="button">Create New Recipe</button></a>
<br>

<h3>Your Meal Plans</h3>
<% if @user.meal_plans.count < 1 %>
  <p>Uh oh, looks like you don't have any meal plans yet. Let's fix that.</p>
<% end %>
<ul>
  <% @user.meal_plans.each do |mp| %>
    <li>
      <a href="/meal-plans/<%= mp.id %>"><%= mp.name %></a>
    </li>
    <br>
  <% end %>
</ul>
<a href="/meal-plans/new"><button type="button">Create New Meal Plan</button></a>
